<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>

<ul>
    <a href="#"> <li> Information </li> </a>
    <a href="/nutritionStore"> <li> Nutrition Store </li> </a>
    <a href="/trickCenter"><li> Trick Center </li> </a>
    <a href="/actionHistory"> <li> Action History</li> </a>
</ul>

<br>

<img src="greenfox.png" alt="greenfox">

<br>

<p th:object="${fox}" th:text="'This is ' + *{name} + '. Currently living on ' + *{food} + ' and ' + *{drink} + '. He knows ' + *{listOfTricks.size()} + ' tricks.'"></p>

<h1>Known tricks</h1>

<div th:object="${fox}">
    <p th:if="*{listOfTricks.size()==0}">
        You know no tricks yet. Go and learn some.
    </p>
    <ul th:unless="*{listOfTricks.size()==0}" th:each="trick: *{listOfTricks}">
        <li th:text="${trick}"></li>
    </ul>
</div>

</body>
</html>