<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>

<ul>
    <a href="/login"> <li> Information </li> </a>
    <a href="/nutritionStore"> <li> Nutrition Store </li> </a>
    <a href="/trickCenter"><li> Trick Center </li> </a>
    <a href="/actionHistory"> <li> Action History</li> </a>
</ul>
<br>
<h1>Welcome to Programmer Fox Club!</h1>
<p>Please provide a name, so you can associate it to your pet!</p>
<form action="#" th:action="@{/login}"  method="post">
    <label for="name">Name</label>
    <input type="text" id="name" name="name">
    <input type="submit" value="GO">
</form>

</body>
</html>